# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.metadata
bin/
tmp/
*.cfg
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
logs
database.properties
tokens.properties